* {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

div {
  display:flex;
  width:100%;
  flex-wrap:wrap;
  border: 0.5px solid grey;
}
html,
body {
  height: 100%; }

h3 {
  font-weight: normal;
  font-size: 1em; }

ul {
  width: 100%;
  padding: 0; }

li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1px;
  overflow: hidden; }

li:hover {
  background: #eee; }

input {
  font-family: FontAwesome;
  font-size: 1em;
}
.search-container {
  width:20%;
}

.fooddata-container {
  width:80%;
}

.fooddata-list {

}

.btn{
  width:50px;
}
